@using Microsoft.AspNetCore.Identity
@using WebRestoran.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<li class="nav-item">
    <a class="nav-link" asp-controller="Order" asp-action="ViewOrders">
                    <i class="bi bi-receipt"></i> Orders
                </a>
</li>
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> @User.Identity?.Name
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="Index">Admin Dashboard</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Order" asp-action="ViewOrders">All Orders</a>
                </li>
            }
            else
            {
                <li>
                    <a class="dropdown-item" asp-controller="User" asp-action="Index">Dashboard</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Order" asp-action="ViewOrders">My Orders</a>
                </li>
            }
            <li><hr class="dropdown-divider" /></li>
            <li>
                <form class="d-inline" asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
    </li>
}
